* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  /* background-color: aqua; */
  background-image: url('./assets/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url('./assets/warm.jpg');
}

.app.hot {
  background-image: url('./assets/hot.jpg');
}

main {
  min-height: 100vh;
}